.runners-overlay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 70px;
  padding: 2rem;
}

.runners-overlay-level-name {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}

.runners-overlay-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 0.5em;
}

.runners-overlay-stat-item {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 0.25em;
}

.runners-overlay-stat-item strong,
.runners-overlay-stat-item span {
  display: inline;
  text-align: left;
  vertical-align: baseline;
}

.runners-overlay-stats strong {
  color: #fc4c02d9;
  font-weight: 600;
  margin-right: 4px;
  text-shadow: 1px 1px #0000004d;
}

.runners-overlay-img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease;
  top: 10px;
  right: 10px;
}

@media (max-width: 600px) {
  .runners-overlay-content {
    flex-direction: column;
    gap: 70px;
    padding: 1rem;
  }
  .runners-overlay-level-name {
    font-size: 1.4rem;
  }
}
