* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: black;
}

.spinner-img {
  width: 24px;
  height: 24px;
  animation: spinner-rotate 1s linear infinite;
  margin-top: 10px;
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* PHONE (max-width: 600px) */
@media (max-width: 600px) {
  body {
    overflow-y: auto;
    height: auto;
    min-height: 100vh;
  }
}
